* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2% 19%;
}

/* Fotos e Titulo: Inicio*/

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title h1{
    font-size: 1.6rem;
}

.interactions{
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 20px;
}

.btn a {
    font-size: 1rem;
    color: #222;
}

.photos {
    display: grid;
    grid-template-rows: 276px 252px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
}

.photos div{
    width: 100%;
    height: 100%;
}

.photos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    grid-row: 1/3;
    grid-column: 1/3;
}

.img1 img{
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
}

.img3 img{
    border-top-right-radius: 15px;
}

.img5 img{
    border-bottom-right-radius: 15px;
}

/* Foto e Titulo: Fim */

/* Container: Inicio */

.container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0;
}

.info {
    width: 67%;
}

/* Container: Fim */

/* Area Titulo, Anfitriao e Qualidades: Inicio */

.descricao h3 {
    margin-bottom: 1%;
}

.img-perfil {
    width: 42px;
    border-radius: 23px;
    height: 40px;
}

.anfitriao {
    margin: 5% -42% 0 0;
    display: flex;
    padding-bottom: 7%;
    align-items: center;
}

.anfitriao-texto {
    margin: 0 0 0 3%;
}

.anfitriao-texto h4 {
    margin-bottom: 3px;
}

.qualidades {
    padding: 7% 0;
    margin: 0 8% 0 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-top: 1px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.qualidade-topicos {
    display: flex;
    flex-direction: row;
}

.qualidade-topicos-descricao {
    margin-left: 5%;
}

.qualidade-topicos-descricao h4 {
    margin-bottom: 10px;
}

/* Area Titulo ,Anfitriao e Qualidades: Fim */

/* Diaria: Inicio */

.diaria{
    border: 1px solid rgb(221, 221, 221);
    width: 27%;
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}
.valor{
    display: flex;
}
.valor p{
    margin-left: 5px;
    align-self: flex-end;
}
.check-in-out{
    border: 1px solid rgb(162, 161, 161);
    border-radius: 12px;
}
.check-in-out{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    width: 100%;
}
.campo1{
    padding: 8px 0;
    display: flex;
}
.check-in{
    border-right: 1px solid rgb(162, 161, 161);
}

.linha {
    grid-column: span 2;
    background-color: rgb(162, 161, 161);
    height: 1px; 
    margin: 0px 0;
  }
.check-in-out p{
    top: 12px ;
    left: 12px ;
    right: 12px ;
    margin: 0 30px ;
    padding: 0px ;
    pointer-events: none ;
    font-size: 0.625rem ;
    line-height: 0.75rem ;
    color: rgb(34, 34, 34) ;
    text-transform: uppercase ;
    font-weight: 700 ;
    max-width: 100% ;
    overflow: hidden ;
    text-overflow: ellipsis ;
    white-space: nowrap ;
}
.hospedes{
    display: flex;
    justify-content: space-between;
    color: rgb(162, 161, 161);
    padding: 8px 15px;
    
}
.hospedes p{
    margin: 1px 0;
}
.hospedes-txt txt-low{
    text-transform: lowercase;
}

.reservar button{
    margin-top: 15px;
    background-color: #ff5f6d;
    border: none; 
    border-radius: 10px; 
    padding: 10px; 
    font-size: 16px;
    text-align: center; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease; 
    width: 100%;
}
.reservar button:hover {
    background: linear-gradient(90deg, #ff5f6d, #ff7f50);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
.reservar p{
    display: flex;
    justify-content: center;
    margin: 8px 34px 0px;
    padding: 2px 2px;
    font-size: 12px;
}

.taxa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.taxa p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.taxa.imposto{
    margin-top: 20px;
}

/* Descricao: Inicio */

.descricao-anuncio {
    width: 62%;
}

.descricao-anuncio p {
    line-height: 1.6;
}